<div>
    <h1>Add new gym</h1>
    <div class="alert alert-danger">
        Name <br> <input type="text" ng-model="name" placeholder="Name" required/>
        <br>
        <br> Location <br> <input type="text" ng-model="location" placeholder="Location" required/>
        <br>
        <br> Email <br> <input type="text" ng-model="email" placeholder="Email" required/>
        <br>
        <br> Telephone <br> <input type="Number" ng-model="telephone" placeholder="Telephone" required/>
        <br>
        <br> Opening-hours <br> <input type="text" ng-model="hours" placeholder="Opening Hours" required/>
        <br>
        <br> Price <br> <input type="text" ng-model="price" placeholder="Price" required/>
        <br>
        <br>
        <!--CALLING THE FUNCTION FROM FRONTEND!-->
        <button class="btn btn-primary" ng-click="addgyms()"> Add Gym</button>
    </div>