<div>
    <div class="page-header">
        <h1>Compare Gyms</h1>
    </div>

    <div>
        <div>
            <div>
                <label>Gym 1:</label>
                <h4>Name: {{gym1.Name}}</h4>
                <h4>Location: {{gym1.Location}}</h4>
                <h4>Email: {{gym1.Email}}</h4>
                <h4>Telephone: {{gym1.Telephone}}</h4>
                <h4>Opening Hours: {{gym1.Openinghours}}</h4>
                <h4>Price: {{gym1.Price}}</h4>
            </div>
            <div>
                <button class="btn btn-primary" ng-click="reserve(gym1.Name)">Reserve</button>
            </div>
        </div>
        <br />
        <div>
            <div>
                <label>Gym 2:</label>
                <h4>Name: {{gym2.Name}}</h4>
                <h4>Location: {{gym2.Location}}</h4>
                <h4>Email: {{gym2.Email}}</h4>
                <h4>Telephone: {{gym2.Telephone}}</h4>
                <h4>Opening Hours: {{gym2.Openinghours}}</h4>
                <h4>Price: {{gym2.Price}}</h4>
            </div>
            <div>

                <button class="btn btn-primary" ng-click="reserve(gym2.Name)">Reserve</button>
            </div>
        </div>
    </div>
</div>