<div class="page-header">
    <h1>Compare Gyms</h1>
</div>
<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
</style>
<div class="well">
    <table style="width:100%">
        <tr>
            <label>Gym 1:</label>
            <th>Name</th>
            <th>Location</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>Opening Hours</th>
            <th>Price</th>
        </tr>
        <tr>
            <td> {{gym1.Name}}</td>
            <td> {{gym1.Location}}</td>
            <td> {{gym1.Email}}</td>
            <td> {{gym1.Telephone}}</td>
            <td> {{gym1.Openinghours}}</td>
            <td> {{gym1.Price}}</td>
        </tr>
        <div>
            <button class="btn btn-primary" ng-click="reserve(gym1.Name)">Reserve</button>
        </div>
    </table>
</div>
<div class="well">
    <table style="width:100%">
        <tr>
            <label>Gym 2:</label>
            <th>Name</th>
            <th>Location</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>Opening Hours</th>
            <th>Price</th>
        </tr>
        <tr>
            <td> {{gym2.Name}}</td>
            <td> {{gym2.Location}}</td>
            <td> {{gym2.Email}}</td>
            <td> {{gym2.Telephone}}</td>
            <td> {{gym2.Openinghours}}</td>
            <td> {{gym2.Price}}</td>
        </tr>
        <div>
            <button class="btn btn-primary" ng-click="reserve(gym2.Name)">Reserve</button>
        </div>
    </table>
</div>
</div>