<div>
    <div class="page-header">
        <h1> Compare </h1>
    </div>

    <div>
        <div>
            <label>Gym 1:</label>
            <input type="text" ng-model="gym1" placeholder="Please enter the first gym">
        </div>
        <div>
            <label>Gym 2:</label>
            <input type="text" ng-model="gym2" placeholder="Please enter second gym">
        </div>
        <div>
            <!--CALLING THE FUNCTION FROM FRONTEND!-->
            <button class="btn btn-primary" ng-click="compare()"> Compare</button>
        </div>
    </div>
</div>