<div>
    <div class="page-header">
        <h1>Gym information</h1>
    </div>

    <div>
        <div>
            <div>
                <h4>Name: {{gymname.Name}}</h4>
                <h4>Location: {{gymname.Location}}</h4>
                <h4>Email: {{gymname.Email}}</h4>
                <h4>Telephone: {{gymname.Telephone}}</h4>
                <h4>Opening Hours: {{gymname.Openinghours}}</h4>
                <h4>Price: {{gymname.Price}}</h4>
            </div>
        </div>
    </div>
</div>