<div>
    <div class="page-header">
        <h1>Account info</h1>
    </div>

    <div>
        <div>
            <div>
                <h4>Username: {{user.username}}</h4>
                <h4>Email: {{user.Email}}</h4>
                <h4>Gender: {{user.gender}}</h4>
                <h4>Age: {{user.age}}</h4>
                <h4>Governance: {{user.Governance}}</h4>
            </div>
            <a href="#/writereviews"> <button type="button"> Write Review </button></a>
            <a href="#/reviewsofagym" button class="btn btn-primary" ng-click="viewallreviews()">View Reviews</button>
        <a href="#/uploadPhoto"> <button type="button"> Upload a photo </button></a>
        </div>
    </div>
</div>