
<form ng-submit="login()">

<center>
<div>
    <div>
      <br>
       <img src="http://cdn.onlinewebfonts.com/svg/img_311846.svg" width="150" height="150"> 
      <br>
      <br>
        <label>Username</label>
        <input class="form-control"
 type="text" ng-model="username" placeholder="username" required>
    </div>
    <div>
     
        <label>Password</label>
        <input class="form-control"
 type="password" ng-model="password" placeholder="Password" required>
    </div>
    <div>
        <!--CALLING FUNCTION FROM CONTROLLER!-->
        <br>
         <button  type="submit"class="button" style="vertical-align:middle"><span> <p><b>LOGIN</b></p></span></span></button>
    </div>
</div>
</center>
</form>
<style>

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #F8C928;
  border: none;
  color: black;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 150px;
  transition: all 1.00s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 1.00s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.form-control{
  width: 50%;
}
.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
</style>
