
<form ng-submit="login()">

<center>
<div>
    <div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
        <label>Username</label>
        <input class="form-control"
 type="text" ng-model="username" placeholder="john.doe" required>
    </div>
    <div>
      <br>
        <label>Password</label>
        <input class="form-control"
 type="password" ng-model="password" placeholder="12345" required>
    </div>
    <div>
        <!--CALLING FUNCTION FROM CONTROLLER!-->
        <br>
        <button class="btn btn-primary"type="submit">LOGIN</button>
    </div>
</div>
</center>
</form>
<style>
*{
  color: white;
}
.form-control{
  width: 50%;
}

</style>
