<!--FRONTEND TO REGISTER FOR A NEW CLIENT!-->
<form ng-submit="register()">

<div>
  <center>
    <div>
        <label><b>Username:</b></label>
        <input   class="form-control"type="text" ng-model="username" placeholder="Enter username" required>
    </div>
    <div>

        <label><b>Email:</b></label>
        <input class="form-control" type="text" ng-model="Email" placeholder="Enter Email" required>
    </div>
    <div>
        <label><b>Password:</b></label>
        <input class="form-control" type="password" ng-model="password" placeholder="Enter Password" required>
    </div>
    <div>
        <label><b>Gender:</b></label>
        <input  class="form-control"type="text" ng-model="gender" placeholder="Enter gender" required>
    </div>
    <div>
        <label><b>Age:</b></label>
        <input class="form-control" type="number" ng-model="age" placeholder="Enter your age" required>
    </div>
    <div>
        <label><b>Governance:</b></label>
        <input  class="form-control"type="text" ng-model="Governance" placeholder="Enter your governance" required>
    </div>
    <br>
    <button type="submit" class="btn btn-primary"> Register</button>
    <a href="/" class="btn btn-primary"> Back</a>
  </center>
</div>
</form>

<style>
*{
  color: white;
}
.form-control{
  width: 50%;
}

</style>
