<div class= "page-header"> 

    <h1> Reservation </h1>

</div>  

<form ng-submit = "reserveController.clientReservation(reserveData);">

    <label> Gym name: </label>
    <input class = "form-control" type = "text" name = "gname" placeholder = "Please enter the gym name" ng-model="reserveController.reserveData.gname">
    <br>
     <br>
    <label> Username: </label>
    <input class = "form-control" type = "text" name = "username" placeholder = "Please enter your username" ng-model="reserveController.reserveData.username">
    <br>
     <br>
    <label> Mobile number: </label>
    <input class = "form-control" type = "number" name = "mobile" placeholder = "Please enter your mobile number" ng-model="reserveController.reserveData.mobile">
    <br>
     <br>
    <button class = "btn btn-primary"  type = "submit"> Reserve </button

</form>