<div>
    <h1>All gyms</h1>

    <table style="width:100%">
        <!--TABLE HEADER-->
        <tr>
            <th>Gym Name</th>
           
        </tr>
        <!--TABLE HEADER-->
        <!--TABLE CONTENT-->
        <tr ng-repeat="gym in allgyms">
            <td>{{gym.Name}}</td>
             
        </tr>
        <!--TABLE CONTENT-->
    </table>
    <div>
        Username <br> <input type="text" ng-model="uname" placeholder="Name" required/>
        <button ng-click="viewReviews()">View Reviews</button>

    </div>
</div>