<style>
 table {
    box-shadow: 5px 5px 5px #F8C928;
}
 * {
        color: black;
    }
    h1 {
    color: #F8C928;
    text-shadow: -1px 0 #F8C928, 0 1px #F8C928, 1px 0 #F8C928, 0 -1px #F8C928;
    font-size: 50;
}

    table,
    th {
        border: 10px solid black;
        color: #F8C928;
        border-radius: 3%;
    }
    
    td {
        color: wheat;
    }
    
    .button {
        display: inline-block;
        border-radius: 4px;
        background-color: #F8C928;
        border: none;
        color: black;
        text-align: center;
        font-size: 15px;
        padding: 10px;
        width: 200px;

        transition: all 1.00s;
        cursor: pointer;
        margin: 5px;
    }
    
    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 1.00s;
    }
    
    .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }
    
    .button:hover span {
        padding-right: 25px;
    }
    
    .button:hover span:after {
        opacity: 1;
        right: 0;
    }
    
    .form-control {
        width: 50%;
    }
     .form-control:hover {
            box-shadow: 0 15px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        }

    
    .button:hover {
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
</style>
<center>
    <div>
        <h1><b><p>Reviews</b></p></h1>

        <h4>Username: {{selectedUsername}}</h4>
        <br />
        <div>
            <!--TABLE-->
            <table cellspacing="10" width="700" style="background-color:black">
                <!--TABLE HEADER-->
                <tr>
                    <th>Gym Name</th>
                    <th>Review</th>
                    <th>Rating</th>
                </tr>
                <!--TABLE HEADER-->
                <!--TABLE CONTENT-->
                <tr ng-repeat="review in reviews">
                    <td>{{review.Name}}</td>
                    <td>{{review.Reviews}}</td>
                    <td>{{review.Ratings}}</td>
                </tr>
                <!--TABLE CONTENT-->
            </table>
            <!--TABLE-->
            <div>
                <br>
                <a href="#/compare"> <button type="submit" class="button" style="vertical-align:middle"><span> <p><b>Compare</b></p></span></span></button> </a>
            </div>
            </br>
            <a href="#/viewaccount"> <button type="submit" class="button" style="vertical-align:middle"><span> <p><b>Return to Homepage</b></p></span></span></button> </a>
        </div>
    </div>