<!--FRONTEND OF WRITE REVIEWS!-->
<form ng-submit="writereview()">
    <center>
        <div>
            <div class="page-header">
                <h1><b><p> Write Review</b></p> </h1>

            </div>
            <div>
                <div>
                    <label>Name:</label>
                    <input class="form-control" type="text" ng-model="name" placeholder="Please enter your name" required>
                </div>
                <div>
                    <label>Gym:</label>
                    <input class="form-control" type="text" ng-model="gymName" placeholder="Please enter your gym">
                </div>
                <div>
                    <label>Write Review:</label>
                    <input class="form-control" type="text" ng-model="review" placeholder="Please enter your review">
                </div>
                <div>
                    <label>Rating:</label>
                    <input class="form-control" type="text" ng-model="rating" placeholder="Please enter your rate">
                </div>
                <br>

                <div>
                    <button type="submit" class="button" style="vertical-align:middle"><span> <p><b>Submit</b></p></span></button>

                </div>
                </br>
                <a href="#/viewaccount"> <button type="submit" class="button" style="vertical-align:middle"><span> <p><b>Return to Homepage</b></p></span></span></button> </a>

            </div>
        </div>
    </center>
</form>
<style>
    * {
        color: black;
    }
    
    .form-control {
        width: 50%;
    }
     .form-control:hover {
            box-shadow: 0 15px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        }

    .button {
        display: inline-block;
        border-radius: 4px;
        background-color: #F8C928;
        border: none;
        color: black;
        text-align: center;
        font-size: 15px;
        padding: 10px;
        width: 200px;

        transition: all 1.00s;
        cursor: pointer;
        margin: 5px;
    }
    
    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 1.00s;
    }
    
    .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }
    
    .button:hover span {
        padding-right: 25px;
    }
    
    .button:hover span:after {
        opacity: 1;
        right: 0;
    }
    
    .form-control {
        width: 50%;
    }
    
    .button:hover {
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
    
    .button2 {
        display: inline-block;
        border-radius: 4px;
        background-color: #F8C928;
        border: none;
        color: black;
        text-align: center;
        font-size: 15px;
        padding: 10px;
        width: 150px;
        transition: all 1.00s;
        cursor: pointer;
        margin: 5px;
    }
     * {
        color: black;
    }
   h1 {
    color: #F8C928;
    text-shadow: -1px 0 #F8C928, 0 1px #F8C928, 1px 0 #F8C928, 0 -1px #F8C928;
    font-size: 50;
}

</style>