<!--FRONTEND OF WRITE REVIEWS!-->
<div> 
    <div class="page-header">
        <h1> Write Review </h1>
    </div>
    <div>
        <div>
            <label>Gym:</label>
            <input type="text" ng-model="gymName" placeholder="Please enter your gym">
        </div>
        <div>
            <label>Write Review:</label>
            <input type="text" ng-model="review" placeholder="Please enter your review">
        </div>
        <div>
            <label>Rating:</label>
            <input type="text" ng-model="rating" placeholder="Please enter your rate">
        </div>

        <div>
            <button class="btn btn-primary" ng-click="writereview()"> Submit</button>
        </div>
    </div>
</div>