<!--FRONTEND OF WRITE REVIEWS!-->
<form ng-submit="writereview()">
<center>
<div>
    <div class="page-header">
        <h1> Write Review </h1>
    </div>
    <div>
        <div>
            <label>Name:</label>
            <input class="form-control"type="text" ng-model="name" placeholder="Please enter your name" required>
        </div>
        <div>
            <label>Gym:</label>
            <input class="form-control"type="text" ng-model="gymName" placeholder="Please enter your gym">
        </div>
        <div>
            <label>Write Review:</label>
            <input class="form-control"type="text" ng-model="review" placeholder="Please enter your review">
        </div>
        <div>
            <label>Rating:</label>
            <input class="form-control" type="text" ng-model="rating" placeholder="Please enter your rate">
        </div>

        <div>
            <button  type="submit"class="btn btn-primary"> Submit</button>
        </div>
    </div>
</div>
</center>
</form>
<style>
*{
  color: white;
}
.form-control{
  width: 50%;
}

</style>
