<html>
    <head>
        <title>My account</title>
    </head>
    <body>

     <label> Name: </label>
     <br>
     <br>
      <label> Age: </label>
      <br>
     <br>
       <label> Email: </label>
       <br>
     <br>
        <label> Gender: </label>

         </body>
</html>
