
<form action="/addgyms" method="POST">
   <h1>Add new gym</h1>
   <div class = "alert alert-danger">
    Name <br> <input type="text" name="name" placeholder="Name" required/>
   <br>
   <br>
   Location <br>  <input type="text" name="location" placeholder="Location" required/>
   <br>
   <br>
   Email <br> <input type="text" name="email" placeholder="Email" required/>
    <br>
    <br>
    Telephone <br> <input type="Number" name="telephone" placeholder="Telephone" required/>
    <br>
    <br>
    Opening-hours <br> <input type="text" name="hours" placeholder="Opening Hours" required/>
    <br>
    <br>
    Price <br> <input type="text" name="price" placeholder="Price" required/>
    <br>
    <br>
    <input type = "submit" value="Add gym">

</form>
