<h1>Gym 1</h1>

 <div class="row">
    <% if(x) { %>
        <% for(var i=0; i<x.length; i++){ %>
            <div class="card col-xs-4">
                <h4 class="card-title"> <%= x[i].Name %></h4>
            </div>
        <% } %>
    <% } else { %>
        <p>something wrong</p>
    <% } %>
            </div>
 <br>
   <br>
    <br>
   <br>
    <br>
   <br>
   <h1>Gym 2</h1>
 <div class="row">
    <% if(x) { %>
        <% for(var i=0; i<x.length; i++){ %>
            <div class="card col-xs-4">
                <h4 class="card-title"> <%= x[i].Name %></h4>
            </div>
        <% } %>
    <% } else { %>
        <p>something wrong</p>
    <% } %>
            </div>
   <br>
   <br>
    <br>
   <br>
    <br>
   <br>
