<form action="/compare" method="POST">
   <h1>Compare</h1>
   Gym 1 <br> <input type="text" name="name1" placeholder="Name" required/> 
   <br>
   <br>
   Gym 2 <br> <input type="text" name="name2" placeholder="Name" required/> 
   <br>
   <br>
    <input type = "submit" value="Compare">
</form>
