
<form action="/compare" method="POST" id = "compareForm">
   <h1>Compare</h1>
   Gym 1 <br> <input type="text" name="name1" placeholder="Name" required id = "name1" /> 
   <br>
   <br>
   Gym 2 <br> <input type="text" name="name2" placeholder="Name" required id = "name2" /> 
   <br>
   <br>
    <input type = "submit" value="Compare">
   </form>
   
