<html>
<head> Gym's Information <head/>
	<br/>
	<br/>
   <body>
      <form action="" method="post" enctype="multipart/form-data">
         
            <label for="name">Name:</label>
            <br/>
            <br />
            <label for="email">Email:</label>
            <br/>
            <br />
            <label for="Location">Location:</label>
           <br/>
            <br />
           <label for="Telephone">Telephone:</label>
        <br/>
        <br/>
         <label for="Openeing from ">Opening from:</label>    <br/><br/>                      <label for="to">to:</label>
         <br/>
         <br/>
<label for="Reviews">Reviews:</label>
<br/>
<br/>
<label for="Ratings">Ratings:</label>
      </form>
   </body>
</html>