
<form action = "register"  method = "post" >
<center> <font size="7" color="White">Registration Page!</font><center>
<br>
<a href = "/login"> login <a>
<br>
<a href = "/register"> register <a>

<body style="background-color:#000000;">
</form>
