
 <html>
  <head>
      <title>Your Account</title>
  </head>
  <body>
       <a href="/viewaccinfo"> <button type="button"> Account information </button></a>
     <a href="/viewreviews"> <button type="button"> My reviews </button></a>
       <a href="/viewactivities"> <button type="button"> My activities </button></a>

  </body>
 </html>