<html>
<head>
<title>EgyFit</title>
</head>
<body background="http://jorgbadura.com//wp-content/uploads/2013/02/Jorg-Badura-01-Nike-Running-NYC-.jpg" >
<center>
  <br>
  <br>
  <br>
<h1>Welcome To EgyFit</h1>

<style>
h1{
  color: white
}
body{
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100%;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}
#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 50%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}



</style>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</table>
<a href="/register"> <button type="button"> Register </button></a>
<a href="/login"> <button type="button"> Login </button></a>
<a href="/search"> <button type="button"> Search </button></a>
<a href="/allgyms"> <button type="button"> View All gyms </button></a>

<br>


</center>


</body>
</html>
