<html>
    <head>
        <title> Home page</title>
    </head>
    <body>

     <label> My Activities </label>  <select name="selectIndex" id="drpdwn">
     	<option value="activity1">Activity1</option>
     	<option value="activity2">Activity2</option>
     	</select><script>
     	('#drpdwn').ejDropDownList();

     	</script>

     
          
            <br>
            <br>



        </body>
</html>
          