
<html>
    <head>
        <title> Home page</title>
    </head>
    <body>

     <label> My Reviews </label>  <select name="selectIndex" id="drpdwn">
     	<option value="activity1">Review1</option>
     	<option value="activity2">Review2</option>
        <option value="activity1">Review3</option>
        <option value="activity2">Review4</option>
        <option value="activity1">Review5</option>
        <option value="activity2">Review6</option>
     	</select><script>
     	('#drpdwn').ejDropDownList();
     	</script>

     
          
            <br>
            <br>



        </body>
</html>
  