

<form action="/register" method="post">

  <div class="container">
<center> <font size="7" color="Red">Create Account</font><center>
  <br>
   <br>
<label><b>username</b></label>
    <input type="text" placeholder="Enter username" name="username" required>
<br><br>
    
 <label><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="Email" required>
    <br><br>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
    <br><br>
    
<label><b>gender</b></label>
    <input type="text" placeholder="Enter gender" name="gender" required>
    <br><br>

    <label><b>age</b></label>
    <input type="number" placeholder="Enter your age" name="age" required>
    <br><br>
    

    <div class="clearfix">
<br>
      <button type="submit" class="signupbtn">Sign Up</button>


<a href = "/homepage" id ="backbtn" >Back</a>

</form>