<html>
    <head>
        <title> Home page</title>
    </head>
    <body>

    <form method = "POST" action = "/reserve">
         <label> Gym name </label> &nbsp &nbsp  <input type = "text" name = "name">
            <br>
            <br>
            <label> Full name  </label>  &nbsp &nbsp <input type = "text" name = "name"> &nbsp &nbsp
            <br>
            <br>
            <label> Mobile number </label> &nbsp &nbsp  <input type = "password" name = "mobilenumber">
            <br>
            <br>
            <label> Payment method </label> &nbsp &nbsp Cash <input  id=opt1 type="checkbox" name="Cash"> &nbsp &nbsp  Credit Card <input  id=opt1 type="checkbox" name="Credit card">
            <br>
            <br>
            <input type = "submit" value = "Reserve"> 
     
        </form>


        </body>
</html>
