
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search ...">

<table id="myTable">
  <tr class="header">
    <th style="width:60%;">Gym</th> <br><br>

    <th style="width:40%;">Address</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Berglunds snabbkop</td>
    <td>Sweden</td>
  </tr>
  <tr>
    <td>Island Trading</td>
    <td>UK</td>
  </tr>
  <tr>
    <td>Koniglich Essen</td>
    <td>Germany</td>
  </tr>
</table>
