<html>
    <body>
        
   

<form action = "/writethenametoshowreviews"  method= "post" > 
    <input type= "text"  name = "GymName" > <br>
    <br>
    <br>
   <a href = "/reviewsofagym" ><button type="showreview" value= "showreview" > show review </button></a>

</form>
 </body>
</html>
