Write a Review
<br><br>
<form action="/writereview" method="Post">
Write Gym: <input type="text" name="writegym"> <br><br>
Write Review: <input type="text" name="writereview"><br><br>
Write Ratings: <input type="text" name="writeratings"><br><br>
<button type="submit" value="Post">Post</button>
</form>