Write a Review
<br>
<br>

<form action="/" method="Post">
Write Gym: <input type="text" name="writegym"> <br>
Write Review: 
<br>
<input type="text" name="writereview"><br>
<button type="Done" value="Done">Done</button>
</form>