<html>
<link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src ="node_modules/angular/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>

<style>
body{
  background-repeat: no-repeat;
  background-size:contain;
  background-size: 45%;
  background-position: center;
}

        .form-container {
            height: 400px;
            border-left: 1px solid gray;
            padding-left: 30px;
        }
        .form-control{
          width: 50%;
        }
        pre{
          width: 50%;
        }
*{
  color: black;
  font-size: 18;
}
h3{
  font-size: 32;
}
nav{
  position: fixed;
}
</style>
<body background="https://www.metatube.com/assets/metatube/video/img/Upload.svg" >
<center>
  <div ng-app="myApp">
    <div ng-controller="MyController">
      <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">EGYFIT</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="homepageclient.ejs">Upload A Photo</a></li>
      <li><a href="/homepageclient">Profile</a></li>
      <li><a href="/search">Gyms</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> LogOut</a></li>
    </ul>
  </div>
</nav>
<h3 style="margin-bottom:40px;">Upload a photo</h3>
  <input  type="file" accept="image/*" fileread="uploadme"  class="form-control"  placeholder="Screenshots" required/>
  <br>
  <br>
  <img src="{{uploadme}}" width="350" height="200" alt="Image preview...">
  <br/>
  <p>
    Image dataURI:
    <pre>{{uploadme}}</pre>
  </p>
  <br/>
  <button class="btn btn-primary" ng-click="uploadPhoto()" >Upload</button>
</div>
</div>
</center>
<script>var app = angular.module('myApp', [])

app.controller('MyController',

function MyController($scope, $http) {

  //the image
  $scope.uploadme;

  $scope.uploadPhoto = function() {
    var fd = new FormData();
    var imgBlob = dataURItoBlob($scope.uploadme);
    fd.append('file', imgBlob);
    $http.post(
        'imageURL',
        fd, {
          transformRequest: angular.identity,
          headers: {
            'Content-Type': undefined
          }
        }
      )
      .success(function(response) {
        console.log('Photo is Uploaded', response);
      })
      .error(function(response) {
        console.log('error', response);
      });
  }


  //you need this function to convert the dataURI
  function dataURItoBlob(dataURI) {
    var binary = atob(dataURI.split(',')[1]);
    var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];
    var array = [];
    for (var i = 0; i < binary.length; i++) {
      array.push(binary.charCodeAt(i));
    }
    return new Blob([new Uint8Array(array)], {
      type: mimeString
    });
  }

});


//your directive
app.directive("fileread", [
function() {
  return {
    scope: {
      fileread: "="
    },
    link: function(scope, element, attributes) {
      element.bind("change", function(changeEvent) {
        var reader = new FileReader();
        reader.onload = function(loadEvent) {
          scope.$apply(function() {
            scope.fileread = loadEvent.target.result;
          });
        }
        reader.readAsDataURL(changeEvent.target.files[0]);
      });
    }
  }
}
]);</script>
</body>
</html>
